@media screen and (min-width: 993px) {
  .modal  {
    min-height: 84vh;
    min-width: 70vw;
  }
  .tabs {
    overflow-x: hidden;
  }
}

.modal .modal-content{
 padding: 0;
}
.conteudo {
 margin-top: 1vh;
 padding-left: 4%;
 padding-right: 4%;

}
.header {
 padding-top: 2vh;
}
.modal-close {
 color: #424242;
}

#modalDeletar {
 min-height: 28vh;
 min-width: 35vw;
}
#modalDeletar .modal-content {
 text-align: center;
 margin-top: 10vh;
 margin-bottom: 8vh;
}

.acoesQuartos .btn-large {
 margin: 1vh;

}

#quarto .modal-content{
 padding: 2%;
}

@media screen and (min-width: 1530px) {
  #modalEditar {
   min-height: 56vh;
  }
}

.novoQuarto {
 margin-top: 1vh;
 border-right: 3px solid #e0e0e0;
}
.checkboxesPacotes h5{
 padding-bottom: 2vh;

}


i .material-icons {
 padding-top: 1.2vh;
}

h4 {
 font-family: 'Raleway';
 font-size: 1.8em;
}

h5 {
 font-family: 'Raleway';
 font-size: 1.4em;
 text-align: center;
 padding-top: 0.8vh;
}

h6 {
 font-family: 'Raleway';
 font-size: 1.1em;
 color: #424242;
 margin-left: 1vw;

}


/* tabs */
.tabs-row {
 margin: 2%;
}

/* tabs */
.tabs .tab a {
 color: #9e9e9e;

}
.tabs .tab a:hover,
.tabs .tab a.active,
.tabs .tab a:focus.active{
 color: black;
 background-color: #eceff1;

}
.tabs .indicator,
ul li .indicator {
 background-color: black !important;
}

/* botões */
.btn-large,
.btn {
 background-color: #607d8b;
 color: white;
}
.btn-large:hover
.btn:hover{
 background-color: #90a4ae;
}




/* badges */
.new.badge:last-child {
 margin-left: 0.3vw;

}
