<aside class="sidebar-fixa hide-on-med-and-down">
        <ul class="menu-admin">
          <li>
            <div class="btn-flat btn-large">
              <a routerLink="Dashboard" routerLinkActive="active"> Dashboard </a>
            </div>
          </li>
          <li>
            <a routerLink="/usuarios" routerLinkActive="active" class="btn-flat btn-large"> Usuários</a>
          </li>
          <li>
            <a routerLink="/hospedagem" routerLinkActive="active" class="btn-flat btn-large"> Hospedagem </a>
          </li>
          <li>
            <a routerLinkActive="active" class="btn-flat btn-large"> Atividades </a>
          </li>
          <li>
            <a routerLink="/configuracoes" routerLinkActive="active" class="btn-flat btn-large"> Configurações </a>
          </li>
        </ul>
</aside>
