<app-navusuario></app-navusuario>
<app-sidebar-usuario></app-sidebar-usuario>
<section class="conteudo-admin">
        <div class="container white container-admin">
          <div class="header">
            <h2 class="titulo-pagina">Hospedagem </h2>
          </div>
          <div class="row row-cards-hoteis">
            <div>
              <div *ngFor="let hotel of hotel; let i = index">
                <app-hotel-usuario [hotel]="hotel"></app-hotel-usuario>
              </div>
            </div>
          </div>
        </div>
</section>
