.principal-login {
  background-color: rgba(0, 0, 0, 0.69);
  padding: 3.4vh;
  margin-top: 2vh;
  margin-bottom: -2vh;
}

.principal-login .row {
  margin-bottom: 0.3vh;
}
/* distancia row */
.row {
  margin-top: 0;
}
/* container especial para o login */
.container {
  width: 38%;
  margin-top: 4vh;
}

@media screen and (max-width: 986px) {
  .container {
    width: 55%;
  }
}
@media screen and (max-width: 686px) {
  .container {
    width: 65%;
  }
}
@media screen and (max-width: 560px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 412px) {
  .container {
    width: 90%;
  }
}

/* auxiliares */
.divider {
  background-color: #424242;
  margin: 1vw;
  margin-bottom: 0;
  margin-top: 0.8;
}

/* formatação de texto */

h2 {
  font-family: 'Roboto';
  color: white;
  font-size: 1.8em;
  font-weight: 200;
  text-align: center;
  padding: 0;
  margin: 0.3vh;
}
h3 {
  font-family: 'Roboto';
  color: white;
  font-size: 1.4em;
  font-weight: 200;
  text-align: center;

}

h4, a {
  font-family: 'Roboto';
  color: white;
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
}


/* botoes */
.botao-login {
  width: 95%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1.5px solid white;
  border-radius: 5px;
}
.btn.botao-login:hover {
  background-color: white;
  color: black;
  font-weight: 300;
}
.btn-flat {
  color: white;
  padding: 0.8vh;
  font-size: 0.8em;
}

/* botoões redes sociais */
.login-google {
  background-color: #db3236;

}

.btn.login-google:hover {
  background-color: #e53935;

}

.login-facebook {
  background-color: #3b5998;

}

.login-facebook:hover {
  background-color: #1565c0;
}

.login-google, .login-twitter, .login-facebook {
  min-width: 100%;
  margin-bottom: 1.4vh;
}


/* forms ................................................ */
/* checkbox */
[type="checkbox"]+span:not(.lever) {
  font-size: 0.8em;
  color: #bdbdbd;
}
[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

/* cor do label dos forms */
.input-field input:focus + label, .input-field textarea:focus + label  {
   color: white !important;
}
/* cor da linha do focus dos forms */
.row .input-field input:focus, .input-field textarea:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important
}

/* cor do input dado pelo usuário */
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    color: white;
}
