<app-navadmin></app-navadmin>
<app-sidebar></app-sidebar>
<section class="conteudo-admin">
        <div class="container white container-admin">
          <div class="header">
            <h2 class="titulo-pagina">Hospedagem</h2>
          </div>
          <div class="row">
            <div class="row center">
              <button data-target="addHotel" class="btn btn-large">Adicionar Hotel </button>
            </div>
            <div class="row row-cards-hoteis">
              <div class="col s12 m4 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="./assets/img/hoteis/hotel-5.jpg">
                    <span class="card-title">[Nome do Hotel]</span>
                  </div>
                  <div class="card-content">
                    <div class="container fabs-card-hospedagem">
                      <div class="row center">

                        <a class="btn-floating fab waves-effect waves-light">
                          <i class="material-icons">hotel</i>
                        </a>
                        <a class="btn-floating fab waves-effect waves-light">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-floating fab waves-effect waves-light">
                          <i class="material-icons">delete</i>
                        </a>

                      </div>
                    </div>
                    <h5>Vagas: [N]</h5>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="./assets/img/hoteis/hotel-5.jpg">
                    <span class="card-title">[Nome do Hotel]</span>
                  </div>
                  <div class="card-content">
                    <div class="container fabs-card-hospedagem">
                      <div class="row center">

                        <a class="btn-floating fab waves-effect waves-light">
                          <i class="material-icons">hotel</i>
                        </a>
                        <a class="btn-floating fab waves-effect waves-light">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-floating fab waves-effect waves-light">
                          <i class="material-icons">delete</i>
                        </a>

                      </div>
                    </div>
                    <h5>Vagas: [N]</h5>
                  </div>
                </div><!-- fim do card -->
              </div><!-- fim da col card-->
            </div><!-- fim da row hoteis -->
          </div>
        </div><!-- fim do container-admin-->
</section>
