.modal {
	border-radius: 5px;
}

/*para posicionar o titulo*/
.modal-content {
	padding-top: 0;
}

/*para posicionar o conteudo abaixo do titulo*/
.modal-header {
	margin-bottom: 5%;
}

/*para posicionar o botão de fechar modal*/
.close {
	position: absolute;
	right: 1%;
	top: 2%;
}

/*pequenos consertos nos alinhamentos dos conteúdo da modal*/
.title-icon {
	margin-right: 1.5%;
	opacity: 0.8;
}

.icon {
	font-size: 30px;
	opacity: 0.7;
}

.title {
	margin-bottom: 0;
}

.subtitle {
	opacity: 0.7;
}

.content {
	margin: 0;
}

.topic {
	font-size: 16px;
	display: block;
}

.gallery {
	margin-top: 2%;
}

.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #607d8b !important;
	box-shadow: 0 1px 0 0 #607d8b !important;
}

.modal-footer {
	margin-bottom: 0;
	background-color: #607d8b;
}

.action {
	font-size: 30px;
}
