<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="updateAtividadeModal">
	<div *ngIf="updateAtividade">
		<div class="modal-content">
			<div class="modal-header valign-wrapper">
				<img class="title-icon" src="assets/img/ivento-logo.png" height="40">
				<span>
					<h5 class="title"><b>Atividade {{updateAtividade.title}}</b></h5>
					<p class="subtitle content">do evento {{evento}}</p>
				</span>
			</div>
			<i class="material-icons close modal-close">close</i>
			<div class="row">
				<i class="col l1 material-icons icon">info</i>
				<div class="col l5">
					<b class="topic">Informações</b>
					<p class="content">Palestrante: {{updateAtividade.palestrante}}</p>
					<p class="content">Quantidade de Vagas: {{updateAtividade.qntdVagas}}</p>
					<p class="content">Status:  {{(updateAtividade.status ? (updateAtividade.disp ? "Aberta e com vagas" : "Aberta e sem vagas") : "Fechada")}}</p>
				</div>
				<i class="col l1 material-icons icon">event</i>
				<div class="col l5">
					<b class="topic">Horário</b>
					<p *ngIf="oneDay(); else manyDays" class="content">
						Data: {{updateAtividade.start | dataAtividade}}, de: {{updateAtividade.start | horaAtividade}} até: {{updateAtividade.end | horaAtividade}}
					</p>
					<ng-template #manyDays class="content">
						De {{updateAtividade.start | dataAtividade}} às {{updateAtividade.start | horaAtividade}}, até  {{updateAtividade.end | dataAtividade}} às {{updateAtividade.end | horaAtividade}}
					</ng-template>
				</div>
			</div>
			<div class="row">
				<i class="col l1 material-icons icon">subject</i>
				<div class="col l11">
					<b class="topic">Descrição</b>
	        <textarea id="textarea1" class="materialize-textarea" placeholder="Adicione uma descrição mais detalhada..." [(ngModel)]="updateAtividade.descricao"></textarea>
				</div>
			</div>
			<div class="row" *ngIf="updateAtividade.image">
				<i class="col l1 material-icons icon">image</i>
					<b class="topic">Imagem Ilustrativa</b>
					<img class="materialboxed gallery col l11" materialize="materialbox" [src]="updateAtividade.image">
			</div>
			<div class="row">
				<i class="col l1 material-icons icon">archive</i>
				<div class="col l11">
					<b class="topic">Pacotes</b>
					<div *ngFor="let pacote of updateAtividade.pacotes" class="chip">{{pacote}}</div>
				</div>
			</div>
		</div>
		<div class="row modal-footer">
			<div *ngIf="!footer">
				<a materialize="tooltip" class="col l3 waves-effect waves-light btn-flat center-align white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inscrever usuário" (click)="actionFooter('inscricao')">
					<i class="material-icons action">person_add</i>
				</a>
				<a materialize="tooltip" class="col l3 waves-effect waves-light btn-flat center-align white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar pacote" (click)="actionFooter('pacote')">
					<i class="material-icons action">add_box</i>
				</a>
				<a materialize="tooltip" class="col l3 waves-effect waves-light btn-flat center-align white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Trocar cor do evento">
					<i class="material-icons action">color_lens</i>
				</a>
				<a materialize="tooltip" class="col l3 waves-effect waves-light btn-flat center-align white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Apagar atividade" (click)="deleteAtividade()">
					<i class="material-icons action">delete</i>
				</a>
			</div>
			<div *ngIf="footer == 'inscricao'">
				<div class="input-field footer-input col l3">
					<input placeholder="CPF do usuário" type="text" mask="999.999.999-99" name="cpf" ngModel #cpf="ngModel">
				</div>
				<a class="col l2 waves-effect waves-light btn-flat action-btn center-align" (click)="inscricao(cpf)">Inscrever</a>
				<a class="waves-effect waves-light btn-flat white-text" (click)="actionFooter('')">
					<i class="material-icons back">arrow_forward</i>
				</a>
			</div>
   	</div>
	</div>
</div>
