<div class="col s12 m4 l4">
  <div class="card z-depth-4">
    <div class="card-image">
      <img [src]="hotelFoto" class="foto-hotel">
      <span class="card-title nome-hotel">{{hotel.nomeHotel}}</span>

    </div>
    <div class="card-content">
      <div class="container fabs-card-hospedagem">
        <div class="row center">

          <a class="btn-floating fab waves-effect waves-light modal-trigger" (click)="openRoomsModal()">
            <i class="material-icons">hotel</i>
          </a>
          <a class="btn-floating fab waves-effect waves-light modal-trigger" (click)="openEditModal()">
            <i class="material-icons">edit</i>
          </a>
          <a class="btn-floating fab waves-effect waves-light modal-trigger" (click)="openDeleteModal()">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
      <!--<h5>Vagas: [N]</h5>-->
    </div>
  </div>
</div>

<!--<app-modal-quartos></app-modal-quartos>
<app-modal-deletar></app-modal-deletar>
<app-modal-editar></app-modal-editar>-->
