<nav class="grey lighten-4">
  <div class="nav-wrapper">
    <a materialize="sideNav" href="#slide-out" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons black-text">menu</i></a>
    <a href="index.html" class="brand-logo center">iVento</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="cadastro.html">SAIR</a></li>
    </ul>
  </div>

  <ul id="slide-out" class="side-nav">
      <li><a routerLink="/painelUsuario">Início</a></li>
      <li><a >Perfil</a></li>
      <li><a routerLink="/hospedagemUsuario">Hospedagem</a></li>
      <li><a>Atividades</a></li>
      <li><a routerLink="/configuracoes">Configurações</a></li>
  </ul>
</nav>
