<div class="col s12 m4 l4">
  <div class="card">
    <div class="card-image">
      <img src="./assets/img/hoteis/hotel-5.jpg" class="foto-hotel">
      <span class="card-title nome-hotel">Hotel</span>
    </div>
    <div class="card-content">
      <div class="container fabs-card-hospedagem">
        <div class="row center">
          <a class="btn waves-effect waves-light modal-trigger" href="#infoHotel">
            Mais Informações
          </a>
        </div>
      </div>
      <h5><span class="new badge blue-grey lighten-1" data-badge-caption="vagas">4</span></h5>
      <p class="truncate">
          Descrição Hotel
      </p>
    </div>
  </div>
</div>
<div id="infoHotel" class="modal" materialize="modal">
  <div class="header">
    <div class="col s11">
      <h4>[Nome do Hotel]</h4>
    </div>
    <div class="col s1">
      <i class="material-icons modal-close right">
        close
      </i>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col l4 s12">
        <img src="./assets/img/hoteis/hotel-5.jpg" class="responsive-img">
      </div>
      <div class="l8 s12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In efficitur interdum neque, vitae sodales felis.
          Fusce purus ipsum, vestibulum non urna commodo, interdum rhoncus quam.
          Nulla placerat maximus diam, sed molestie diam sollicitudin.
        </p>
        <h5><strong>Endereço:</strong> Rua Gal. Olímpio, 233 </h5>
      </div>
    </div>

        <div class="row" >
          <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="actions1">
            <li>
              <div class="collapsible-header">
                  Suite Standard
                  <span class="new badge blue-grey lighten-1 right" data-badge-caption="vagas por quarto">2</span>
                  <span class="new badge blue-grey darken-2 right" data-badge-caption="quartos restantes">2</span>
              </div>
              <div class="collapsible-body">
                <div class="row tabs-row">
                    <div class="col s12">
                      <ul class="tabs"  materialize="tabs">
                        <li class="tab col l6"><a href="#infoQuarto">Informações Sobre o Quarto</a></li>
                        <li class="tab col l6"><a href="#quartosDisponiveis">Quartos Disponíveis</a></li>
                      </ul>
                    </div>
                </div>
                <div class="row" id="infoQuarto">
                  <div class="col l5">
                    <img src="./assets/img/hoteis/hotel-room.jpg" class="foto-quarto responsive-img">
                    <!-- conteudo do collapsible buga quando colocamos a imagem dentro de uma col sem uma row por fora-->
                  </div>
                  <div class="col l7">
                    <div class="input-field col s12 l6">
                      <input disabled type="text" id="nomeQuarto" value="Suite Standard">
                      <label for="nomeQuarto">Nome/Tipo de Quarto</label>
                    </div>
                    <div class="input-field col s6 l3">
                      <input disabled type="number" id="numeroQuarto" value="5">
                      <label for="numeroQuarto">Número de Quartos</label>
                    </div>
                    <div class="input-field col s6 l3">
                      <input disabled type="number" id="vagasQuarto" value="2">
                      <label for="vagasQuarto">Vagas por Quarto</label>
                    </div>
                    <div class="input-field col s12 l12">
                      <textarea disabled id="obsQuarto" class="materialize-textarea">Ar Condicionado, TV, Frigobar, WiFi
                      </textarea>
                      <label for="obsQuarto">Observações</label>
                    </div>

                    <!--<button class="btn right" type="submit" name="action">Sair Deste Quarto e Escolher Outro</button>-->

                  </div>
                </div>
                <div class="row" id="quartosDisponiveis">
                  <div class="row">
                    <form>
                      <div *ngFor="let numero of numQuarto; let i = index">
                        <div class="col l2 m3 s6">
                          <div class="card-panel modal-trigger grey lighten-2" href="#quarto">
                            <input [id]="numQuarto" type="checkbox" class="filled-in" [name]="'numero + i'" ngModel/>
                            <label [for]="numQuarto">Quarto {{numero}}</label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="row">
                    <button class="btn right" type="submit" name="action">Escolher Este Quarto</button>
                  </div>
              </div>
            </div>
            </li>
          </ul>
  </div>
  <div class="modal-footer">
    <div class="divider"></div>
    <button  class="modal-close waves-effect btn-flat">Sair</button>
    <!--<input type="submit" class="btn modal-close" value="Sim, deletar">-->
  </div>
</div>
