<app-navadmin></app-navadmin>
<app-sidebar></app-sidebar>
<section class="conteudo-admin">
	<div class="container white container-admin">
		<div class="header">
			<h2 class="titulo-pagina">Atividades</h2>
		</div>

		<!-- Uso do fullcalendar -->
		<div *ngIf="calendarOptions">
			<ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)">
			</ng-fullcalendar>
		</div>
	</div>

	<!-- Modal de atividades -->
	<app-update-atividade-modal  [evento]="evento.title" [updateAtividade]="updateAtividade" [atividadeClick]="atividadeClick" (deleteAtividadeEmitter)="deleteAtividade($event)"></app-update-atividade-modal>

</section>