<app-navadmin></app-navadmin>
<app-sidebar></app-sidebar>
<section class="conteudo-admin">
	<div class="container white container-admin">
		<div class="header">
			<h2 class="titulo-pagina">Atividades</h2>
		</div>

		<!-- Uso do fullcalendar -->
		<div *ngIf="calendarOptions">
			<ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)">
			</ng-fullcalendar>
		</div>
	</div>

	<!-- Modal de Atividade -->
	<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="updateAtividadeModal">
		<div *ngIf="updateAtividade">	
			<div class="modal-header">
				<div class="valign-wrapper">
					<img class="title-icon" src="assets/img/ivento-logo.png" height="40">
					<span>
						<h5 class="title"><b>Atividade {{updateAtividade.title}}</b></h5>
						<p class="subtitle content">do evento {{evento.title}}</p>
					</span>
				</div>
				<i class="material-icons close modal-close">close</i>
			</div>
			<div class="modal-content">
				<div class="row">
					<i class="col l1 material-icons icon">info</i>
					<div class="col l11">
						<b class="topic">Informações</b>
						<p class="content">Palestrante: {{updateAtividade.palestrante}}</p>
						<p class="content">Quantidade de Vagas: {{updateAtividade.qntdVagas}}</p>
						<p class="content">Status:  {{(updateAtividade.status ? (updateAtividade.disp ? "Aberta e com vagas" : "Aberta e sem vagas") : "Fechada")}}</p>
					</div>
				</div>
				<div class="row">
					<i class="col l1 material-icons icon">event</i>
					<div class="col l11">
						<b class="topic">Horário</b>
						<p class="content">Data: {{updateAtividade.start}}, de: {{updateAtividade.start}} até: {{updateAtividade.end}}</p>
					</div>
				</div>
				<div class="row">
					<i class="col l1 material-icons icon">subject</i>
					<div class="col l11">
						<b class="topic">Descrição</b>
		        <textarea id="textarea1" class="materialize-textarea" placeholder="Adicione uma descrição mais detalhada..."[(ngModel)]="updateAtividade.descricao"></textarea>
					</div>
				</div>
				<div class="row">
					<i class="col l1 material-icons icon">archive</i>
					<div class="col l11">
						<b class="topic">Pacotes</b>
						<div *ngFor="let pacote of updateAtividade.pacotes" class="chip">{{pacote}}</div>
					</div>
				</div>
				<div class="row">
					<i class="col l1 material-icons icon">image</i>
					<div class="col l11">
						<b class="topic">Galeria de Imagens</b>
						<span>
							<img class="materialboxed" materialize="materialbox" width="100" [src]="updateAtividade.image">
							<p>Coe</p>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>